Summary:

<ul>
  <li><%= @search_results.num_seqs %> files</li>
  <li><%= link_to 'Download as tarball', search_path(1234, @search_results.params.merge(format: :tgz)) %>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>FASTA files</th>
      <th>Number of sequences</th>
    </tr>
  </thead>
  <tbody>
    <% @search_results.num_seqs_per_file do |fasta_file_prefix, num_seqs| %>
    <tr>
      <td>
        <%= "#{fasta_file_prefix}.fa" %><br>
        <%= "#{fasta_file_prefix}.afa" %><br>
      </td>
      <td><%= num_seqs %></td>
    </tr>
    <% end %>
  </tbody>
</table>
