<% content_for :page_title, "#{@search_results.to_s} Search Results" %>

<h1>Search Results</h1>
<p class="lead"><%= @search_results.num_species %> species found for search: <%= @search_results.to_s %></p>

<ul>
  <li><%= number_to_human_size  @search_results.estimated_tar_size %> estimated uncompressed tar size, excluding metadata</li>
  <% if @search_results.estimated_tar_size > @search_results.download_limit %>
  <li>
    <div class="alert alert-warning">
      Search results are estimated to be greater than <%= number_to_human_size @search_results.download_limit %>
      Large search results are not yet well supported.
    </div>
  </li>
  <% else %>
  <li><%= link_to 'Download as tarball', search_path(@id, @search_results.params.merge(format: :tgz)) %>
  <li><%= link_to 'Download as zip', search_path(@id, @search_results.params.merge(format: :zip)) %>
  <% end %>
</ul>
