<h1>Searches#new</h1>
<p>Find me in app/views/searches/new.html.erb</p>

<%= bootstrap_form_tag url: search_sequences_path, method: :get do |f| %>
  <%= f.text_field :southwest_corner_latitude %>
  <%= f.text_field :southwest_corner_longitude %>
  <%= f.text_field :northeast_corner_latitude %>
  <%= f.text_field :northeast_corner_longitude %>

  <% %w(kingdom phylum class order family genus).each do |taxon| %>
    <%= f.select :"taxon_#{taxon}", Sequence.distinct.pluck(:"taxon_#{taxon}"), { label: taxon.titleize, help: "Required" } %>
  <% end %>

  <%= f.select :"taxon_species", Sequence.distinct.pluck(:"taxon_species"), { label: "Species", include_blank: true, help: "Optional"} %>

  <%= f.submit "Search" %>
<% end %>
